*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

.navbar{
    background-color: rgb(37, 37, 37);
    color: white;
    height: 90px;
}

.container-fluid{
    width: 100vw;
    padding: 0;
    margin: 0;
}

.seccion-productos{
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
    background-color: transparent;
    background-color: rgb(240, 240, 240);
    min-height: 100vh;
    position: relative;
}

.flex-center{
    display: flex;
    text-align: center;
    align-items: center;
    padding: 0;
}

.card{
    margin: 60px 20px;
    width: 18rem;
    max-width: 270px;
    border: 1px solid rgb(224, 222, 222);
    transition: .2s;
}

.card:hover{
    box-shadow: 0px 0px 10px 1px rgb(190, 190, 190);
}

#navbar__input{
    width: 350px;
}

.navbar__carrito{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navbar__carrito img{
    width: 27px;
    margin-left: 20px;
    background-color: white;
}

.articulo--agregado{
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 100%;
    position: absolute;
    top: 0px;
    right: -5px;
    opacity: 0;
}

.opacity-uno{
    opacity: 1;
}

.background-dark{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    top: 0;
}

.carrito-compras{
    position: absolute;
    top:0;
    right: 0;
    translate: 100%;
    opacity: 0;
    background-color: white;
    border-left: 1px solid rgb(199, 199, 199);
    width: 320px;
    height: auto;
    min-height: 100vh;
    transition: .4s;
}

.carrito-titulo{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    background-color: rgb(37, 37, 37);
    color: white;
}

.carrito-productos{
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    min-height: 50vh;
    height: auto;
    overflow-y: scroll;
    padding-bottom: 110px;
}

.carrito-total{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 37, 37);
    color: white;
    position: fixed;
    bottom: 0;
    opacity: 1;
    width: 100%;
}

.card-carrito{
    border-bottom: 1px solid rgb(199, 199, 199);
    top: 20px;
}

.display-all{
    opacity: 1;
}

.mostrar-carrito-compras{
    translate: 0%;
    opacity: 1;
}

#contenedor-inicio-sesion{
    width: 600px;
    height: 400px;
    background-color: rgb(241, 241, 241);
    box-shadow: 0px 0px 10px 1px grey;
    border-radius: 5px;
    position: absolute;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0px;
}

.seccion-productos-inicio{
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-inicio-sesion{
    height: 20%;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    color: white;
    font-size: 26px;
}

.inputs-inicio-sesion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 60%;
    position: relative;
}

.inputs-inicio-sesion input{
    width: 80%;
    height: 40px;
    border: none;
    outline: none;
    margin: 20px 0px;
    padding: 0px 0px 0px 15px;
}

.inputs-inicio-sesion input{
    width: 80%;
    height: 40px;
    border: none;
    outline: none;
    margin: 20px 0px;
    padding: 0px 0px 0px 15px;
}

.button-inicio-sesion{
    width: 100%;
    height: 20%;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-inicio-sesion button{
    width: 120px;
    height: 40px;
    border: none;
    outline: none;
    padding: 5px;
    position: absolute;
    border-radius: 5px;
}

.saludo-usuario{
    color: black;
    margin: 0px 10px;
    font-size: 18px;
}

.opacity-cero-pointer-none{
    opacity: 0;
    pointer-events: none;
}